<!-- <app-banner></app-banner> -->
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <button class="btn btn-warning w-100" (click)="changeFunc()">
      Choose Conditions
    </button>
    <button class="btn w-100" style="text-align: right; color: red" *ngIf='familyName != null' (click)=removeFilters()>Remove Filters</button>
    <product-filter [avialability]="availability"></product-filter>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-6">
    <div class="row" *ngIf="!filterButtonClicked">
      <div class="row">
        <h4 style="padding:15px">{{ searchResult }} Plants were found matching your request</h4>
        <br /><br />
      </div>
      <div class="row">
        <ng-container *ngFor="let product of filteredProducts; let i = index">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <product-card [product]="product"></product-card>
          </div>
          <!-- <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div> -->
        </ng-container>
      </div>
    </div>
    <div class="row col-12" *ngIf="filterButtonClicked">
      <products-filter-form
        (filterButtonClick)="getResponse($event)"
      ></products-filter-form>
    </div>
  </div>
</div>
